*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  font-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.nav {
  background-color: rgb(189, 50, 0);
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
}
.nav__menu {
  display: flex;
  text-transform: uppercase;
  color: green;
}
.nav__link {
  margin: auto 2rem;
}
.nav__toggler .toggleIcon {
  cursor: pointer;
  display: none;
}
.nav__toggler .toggleIcon {
  font-size: 6rem;
  color: #fff;
  z-index: 200;
  margin: 0.4rem;
  transition: 0.4s ease-in;
  display: none;
}
.nav__brand {
  text-transform: uppercase;
  font-weight: bold;
}
@media (20rem <= width <= 76.8rem) {
  .nav__toggler .toggleIcon {
    display: block;
    color: green;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    width: 50%;
    height: 93vh;
    background-color: rgba(189, 50, 0, 0.9);
    flex-direction: column;
    transform: translateX(100%);
    transition: all 0.4s ease;
  }
}

/* nav active */
.nav__active {
  transform: translateX(0);
}